/*needs to be in same folder as html script*/
/*all of these set the default styles for the different tags in HTML, but they can be overridden by inline or internal stylesheets
those stylesheets are located inside the HTML script */
/* You can use one CSS script for mutiple HTML scripts */

body {
    background-color: #172159;
}

h1 {
    color: #60CCD9;
    margin-top: 40px;
}

h2 {
    color: #60CCD9;
}

p {
    color: #60CCD9;
}

a {
    color: #60CCD9;
}

a:link {
    color: #60CCD9;
}

a:hover {
    color: #44BCC1;
}

a:visited {
    color: #C84965;
}

i {
    color: #60CCD9;
}

footer {
    font-size: 20px;
}


#profile-img {
    width: 75%;
    margin-top: 40px;
}

#project-img {
    width: 50%;
}

#icon {
    color: #44BCC1;
    text-decoration: none;
    font-size: 30px;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}